
<div class="container">
    <h1 class="text-center">Calendario</h1>      
             {{!--Here we need to give more beautiful format --}}
        <table class="table">
            <thead class="table-info"> 
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de cierre</th>
                <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {{#each events}}
                    <tr>
                        <th scope="row">{{title}}</th>
                        <td>{{startDate}}</td>
                        <td>{{finishDate}}</td>
                        <td>{{description}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
</div>


