
<div class="container bg-white">
    <div class="row">
        <div class="col-6">
            <h1>Hello I am events index</h1>    
        </div>
        <div class="col-6">
            <h1>Dates cards</h1>

        </div>
    </div>
</div>

