<body>
    <div class="container">
        <div class="card">
            <h1>
                Welcome home, admin!
                NodeJs+MongoDB
            </h1>    
        </div>
        
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi consequuntur ullam neque velit, voluptates corporis 
        eveniet sapiente sed atque. Reprehenderit nulla odio fugit. Ipsam necessitatibus velit facere eligendi laborum repudiandae?
         Blanditiis qui dolore repudiandae ipsam quasi amet nesciunt fugit esse. Totam eos dicta rem exercitationem blanditiis
          rerum quasi dolores, recusandae libero quas, similique aperiam reprehenderit, distinctio nisi doloribus praesentium
           illo ad delectus magnam error sint quaerat veniam minus. Eum soluta corporis, laudantium dicta, minima inventore cumque 
           sequi voluptatibus culpa quod dolorem eligendi id quia blanditiis doloremque, 
        distinctio minus quae? Ad temporibus fugiat voluptate explicabo id eveniet amet officia numquam. Esse.
        </p>
    </div>
</body>