<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card container">
                <h5 class="card-header">Anteproyectos (Semestre n)</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Tienes <strong> n</strong> anteproyectos que revisar</h5>
                            <a href="/admin/anteproyectos" class="btn btn-primary">Revisar</a>
                        </div>
                        <div class="col text-center">
                            <div class="card" style="max-width: 25rem;">
                                <h5 class="card-header ">¿Desea administrar profesores?</h5>
                                <div class="card-body">
                                    <a href="/" class="btn btn-block btn-primary">Ir a profesores</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <strong>Proximos eventos</strong>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body justify-contente-center">
                <a href="/events" class="btn btn-primary">Ver eventos</a>
            </div>
        </div>
    </div>

</div>


</div>