<div class="row">
    <h1 class="text-center">Crear semestre</h1>
    <div class="col-6 offset-3">
        <form action="/s" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="year">Año</label>
                <input type="year" min="2023" max="2099" step="1" value="2024" name="semestre[year]" required/>
                <div class="invalid-feedback">
                    Este campo no puede quedar vacío
                </div>
            </div>
            <div class="col m-3">
                <div class="h5">Periodo</div>
                <div class="dropdown">
                    <button class="btn btn-primary mb-3  dropdown-toggle" type="button" id="multiSelectDropdown1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Seleccionar
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                    <input class="form-check-input" type="radio" value="aceptado"
                                        name="infoEstudiante.estado" required />
                                    <div class="span">I</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                    <input class="form-check-input" type="radio" value="incompleto"
                                        name="infoEstudiante.estado" required />
                                    <div class="span">II</div>
                                </label>

                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>