<div class="container">
    <div class="row">
        {{#each anteproyectos}}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{nombreEstudiante}}
                        </h4>
                        <p>{{semestre}}</p>
                        <p>{{carnet}}</p>
                        <p>{{correoEstudiante}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>