<footer class="footer fixed-bottom bg-light  py-3 mt-auto">
    <div class="container-fluid">
    <span class="title-color">&copy; Gestión de prácticas profesionales 2023</span>
    </div>
</footer>

