{{!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-fancynav fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sistema de Prácticas Profesionales</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/logout">Inicio</a>
          </li>
          {{#ifEquals user.esAdmin true}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/events" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Eventos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/events">Ver eventos</a></li>
              {{#ifEquals user.esAdmin true}}
              <li><a class="dropdown-item" href="/events/new">Crear eventos</a></li>
              {{/ifEquals}}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/anteproyectos">Anteproyectos</a>
          </li>
          {{/ifEquals}}
          {{#ifEquals user.esAdmin false}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/student/upload">Subir anteproyecto</a>
          </li>
          {{/ifEquals}}

      </ul>
    </div>
  </div>
</nav> --}}
