body{
    background: aliceblue;  
    background: -webkit-linear-gradient(to bottom, aliceblue , lightblue);  
    background: linear-gradient(to bottom, aliceblue, lightblue); 
}

.title-color{
    color:navy;
    font-weight: bold;
}
.input-group-append {
    cursor: pointer;

}