body{
    background: #43C6AC;  
    background: -webkit-linear-gradient(to bottom, aliceblue , cornflowerblue);  
    background: linear-gradient(to bottom, aliceblue, cornflowerblue); 
}

.title-color{
    color:navy;
    font-weight: bold;
}

