
.table{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    
}
.table th{
    font-size: 25px;
}
.table tr{
    font-size: 20px;

}
.table img{
    width: 50px;
    height: 50px;
}
.table td small{
    font-size: 13px;
}
tbody .Revisión{
    font-size: larger;
    font-weight: 10px;
    color: #834800;
}
.Aprobado{
    font-size: larger;
    color: #3c6901;
}
.Rechazado{
    font-size: larger;
    color: #c03f03;
}
.Finalizado{
    color: #0326c0;
}
.table-container {
    overflow-x: auto; /* Agrega desplazamiento horizontal */
    max-width: 100%; /* Limita el ancho máximo para que no se agrande la pantalla */
    margin-left: 10px; /* Margen izquierdo */
    margin-right: 10px; /* Margen derecho */
}

.table {
    width: 100%; /* Ocupa el ancho del contenedor */
    /* Estilos adicionales de la tabla */
}