<div class="container-fluid">

    <div class="row mb-4">
        <h1> </h1>
    </div>

    <div class="row mb-4">
        

        <div class="col">
            <div class="card">

                <div class="card-header">
                    <h3>
                        Bienvenido de vuelta - Ingreso de usuario
                    </h3>
                </div>

                <div class="card-body">

                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" pattern="^[A-Za-z0-9._%+-]+@estudiantec\.cr$">
                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" name="contrasenia" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>

            </div>
        </div>

        <div class="col">

            <div class="card">

                <div class="card-header">
                    <h3>
                        ¿Nuevo Usuario? - Registrate
                    </h3>
                </div>

                <div class="card-body">

                    <form novalidate class="needs-validation" action="/user/new" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre completo</label>
                            <input type="text" name="user[nombre]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre" required>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Carnet estudiantil</label>
                            <input type="number" name="user[carnet]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Carnet" required>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Número telefónico</label>
                            <input type="number" name="user[telefono]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Número telefónico" required>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" name="user[correo]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" requiredpattern="^[A-Za-z0-9._%+-]+@estudiantec\.cr$" required>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" name="user[contrasenia]" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" minlength="6" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>

            </div>


        </div>
    </div>
    
    <div class="row-gap-0">
        <h1>  </h1>
        <img src="/images/intern.png" class="img-fluid" alt="Responsive image">
    </div>

    
    


    


        

    
        

    


</div>