
    <div class="container">
        <div class="card">
            <h1>
                ¡Welcome home, student!
            </h1>    
        </div>
        
        <p>
        To Do: Generar esta página de welcome para los estudiantes
        </p>
    </div>



