<div class="container">

    <div class="row">
        <h1>          </h1>
        <h1>Registro de Anteproyectos</h1>
    </div>

    
    <div class="row">

    
    <form action="/student/upload" method="POST" enctype="multipart/form-data"> 
        <div class="row">
            <div class="col mb-3">

                

                <h3>Datos personales</h3>
                {{!
                <div class="form-group">
                <label class="form-label" for="exampleInputEmail1">Semestre</label>
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="proyecto[semestre]">  
                <div class="invalid-feedback">
                    Este campo no puede quedar vacío
                </div>          
                </div>

                <div class="form-group">
                <label class="form-label" for="exampleInputPassword1">Nombre Completo</label>
                <input type="nombre" class="form-control" id="exampleInputPassword1" name="proyecto[nombreEstudiante]">
                </div>
                }}
                <div class="form-group mb-3">
                <label for="exampleInputPassword1">Carnet</label>
                <input type="carnet" class="form-control" id="exampleInputPassword1" name="proyecto[carnet]">
                </div>

                {{! 

                <div class="form-group">
                <label for="exampleInputPassword1">Correo</label>
                <input type="correo" class="form-control" id="exampleInputPassword1" name="proyecto[correoEstudiante]">
                </div>

                <div class="form-group">
                <label for="exampleInputPassword1">Numero telefónico</label>
                <input type="celularEstudiante" class="form-control" id="exampleInputPassword1" name="proyecto[telefonoEstudiante]">
                </div>
                }}

                <label for="exampleInputPassword1">Matricula otros cursos en el semestre?</label>
                <div class="dropdown m-3"> 
                    <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                    Seleccionar Cursos 
                    </button> 
                    <ul class="dropdown-menu" 
                        aria-labelledby="multiSelectDropdown"> 



                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="N/A" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">N/A</label>
                            </div>
                        </a>
                        </li> 

                        <div class="dropdown-divider"></div>
                        

                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Redes" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">Redes</label>
                            </div>
                        </a>
                        </li> 

                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Electiva 2" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">Electiva 2</label>
                            </div>
                        </a>
                        </li> 

                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Inteligencia Artificial" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">Inteligencia Artificial </label>
                            </div>
                        </a>
                        </li> 

                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Desarrollo de emprendedores" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">Desarrollo De Emprendedores</label>
                            </div>
                        </a>
                        </li> 

                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Proyecto de ingeniería" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">Proyecto de ingeniería de software</label>
                            </div>
                        </a>
                        </li> 

                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="centros de formacion humanistica" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">Centros de formación Humanística</label>
                            </div>
                        </a>
                        </li> 

                        <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Otro" name = "proyecto[cursos]" />
                                <label class="form-check-label" for="Checkme3">Otro</label>
                            </div>
                        </a>
                        </li>
                    </ul> 
                </div>
                
                <label for="exampleInputPassword1" class="mb-3">Subir documento PDF de anteproyecto</label>
                <div class="form-group mb-3">
                    <input type="file" name="pdfFile" class="form-control-file">
                </div>
                
            
                </div> 


            <div class="col mb-3">
                <h3>Datos de la empresa</h3>

                <div class="form-group">
                <label for="exampleInputEmail1">Nombre empresa</label>
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="proyecto[nombreEmpresa]">            
                </div>

                <div class="form-group">
                <label for="exampleInputPassword1">Dirección</label>
                <input type="nombre" class="form-control" id="exampleInputPassword1" name="proyecto[direccionEmpresa]">
                </div>

                <div class="form-group">
                <label for="exampleInputPassword1">Numero telefónico</label>
                <input type="carnet" class="form-control" id="exampleInputPassword1" name="proyecto[telefonoEmpresa]">
                </div>

                <div class="form-group">
                <label for="exampleInputPassword1">Nombre del supervisor</label>
                <input type="correo" class="form-control" id="exampleInputPassword1" name="proyecto[nombreSupervisor]">
                </div>

                <div class="form-group">
                <label for="exampleInputPassword1">Puesto del supervisor</label>
                <input type="celularEstudiante" class="form-control" id="exampleInputPassword1" name="proyecto[puestoSupervisor]">
                </div>

                <div class="form-group">
                <label for="exampleInputPassword1">Correo del supervisor</label>
                <input type="matricula" class="form-control" id="exampleInputPassword1" name="proyecto[correoSupervisor]">
                </div>
            </div>

            
        </div>
        <button type="submit" class="btn btn-primary mb-4">Enviar cuestionario</button>
    </form>

    </div>
    
        
    
    

    <div class="mb-5">
        <h1>         </h1>
        <h6>Recuerda subir el documento de tu anteproyecto en formato pdf antes de enviar el formulario!</h6>   
    </div>



</div>