<div class="container justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-6 col-xl-6 offset-xl-3 offset-md-3 mt-5 ">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Recuperación de contraseña</h5>
                    <form novalidate class="needs-validation" action="/forgot-password" method="POST">
                        <div class="text-center mb-3">
                            <p>Ingresa el <strong>carnet</strong> y se enviará al email correo estudiantec</p>
                        </div>
                        <div class="form-group mb-3">
                            <input type="number" name="user[carnet]" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Carnet" required>
                        </div>
                        <br>
                        <div class="d-grid gap-2">
                            <span class="text-center">
                                <a href="/signin" class="btn btn-warning">Volver</a>
                                <button class="btn btn-success btn-block d-inline">Enviar código de
                                    recuperación</button>
                            </span>
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <span class="text-center">
                                <p>¿Ya tienes un código?<a href="/restore-password"> Ir a Recuperar</a></p>	
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>