<h2>Mi Cuenta</h2>
<br>

<form action="" method="get">

    <div class="card shadow">
        <div class="card-header">
            <h5 class="card-tittle text-center">Datos personales</h5>
        </div>
        <div class="card-body">

            <div class="mb-3 row">
                <div class="col-sm-6">
                    <label for="nombre" class=" col-form-label">Nombre</label>
                    <input id="nombre" class="form-control" type="text" value="{{user.nombre}}"
                        aria-label="Disabled input example">
                </div>
                <div class="col-sm-6">
                    <label for="carnet" class=" col-form-label">Carnet</label>
                    <input id="carnet" class="form-control" type="text" value="{{user.carnet}}"
                        aria-label="Disabled input example">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-6">
                    <label for="telefono" class=" col-form-label">Telefono</label>
                    <input id="telefono" class="form-control" type="text" value="{{user.telefono}}"
                        aria-label="Disabled input example">
                </div>
                <div class="col-sm-6">
                    <label for="correo" class=" col-form-label">Correo</label>
                    <input id="correo" class="form-control" type="text" value="{{user.correo}}"
                        aria-label="Disabled input example">
                </div>
            </div>

        </div>
       
        <button type="submit" class="btn btn-primary w-50 mx-auto mt-3">Guadar Cambios</button>
        <span class="text-center">
        <br>
        <p>¿Cambiar Contraseña?<a href="/forgot-password"> Reestablecer</a></p>
    </span>
    </div>


</form>