<div class="container justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-6 col-xl-6 offset-xl-3 offset-md-3 mt-5 ">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Recuperaci칩n de contrase침a</h5>
                    <form novalidate class="needs-validation" action="/restore-password" method="POST">
                        <div class="form-group mb-3">
                            <label for="exampleInputEmail1">Carnet</label>
                            <input type="number" name="user[carnet]" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Carnet" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="code">Codigo</label>
                            <input type="text" name="user[code]" class="form-control" id="code"
                                aria-describedby="emailHelp" placeholder="Codigo" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Nueva contrase침a</label>
                            <input type="password" name="user[contrasenia]" class="form-control"
                                id="exampleInputPassword1" placeholder="Contrase침a" minlength="6" required>
                        </div>
                        <br>
                        <div class="d-grid gap-2">
                            <span class="text-center">
                                <a href="/forgot-password" class="btn btn-warning">Volver</a>
                                <button class="btn btn-success btn-block d-inline">Ingresar</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>